Temp/
Engine/.vs
Engine/JSON
Engine/packages
Bin/Assets/Sponza
Bin/Cache/
Bin/AssetCache/

*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.exe
*.pdb
*.ini

PhysX*.dll
PVD*.dll

# VTuner stuff
Engine/Launcher/VTune Profiler Results/
Engine/GPUCache/
Engine/debug.log

Bin/Editor/PreviousWorldsSystem.info
*.cache
imgui.ini
Log.txt
.claude/
Debug_ReflectionCache.json
Engine.sln.DotSettings.user